<h2>Registro de usuario</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= f.error_notification %>

<form class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<div class="col-xs-10">
				<label class="col-xs-3">Correo</label>
				<%= f.text_field :email, :required => true, :autofocus => true %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-10">
				<label class="col-xs-3">Contraseña</label>
				<%= f.input_field :password, :required => true, :autofocus => true, :size => 20 %>
			</div>	
		</div>
		<div class="form-group">
			<div class="col-xs-10">
				<label class="col-xs-3"> Confirma tu contraseña</label>
				<%= f.input_field :password_confirmation, :required => true, :autofocus => true %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-10">
				<%= f.button :submit, "Regístrate" %>
			</div>
		</div>
</fieldset>
</form>
		<% end %>


