<%= form_for(@pago) do |f| %>
  <% if @pago.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pago.errors.count, "error") %> prohibited this pago from being saved:</h2>

      <ul>
      <% @pago.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if usuario_signed_in? %>
    <%= f.hidden_field "usuario_id", :value => current_usuario.id %>
  <% end %>
  <div class="field">
    <%= f.label :voucher %><br>
    <%= f.number_field :voucher %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
