<%= form_for(@rutas_survey) do |f| %>
  <% if @rutas_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rutas_survey.errors.count, "error") %> prohibited this rutas_survey from being saved:</h2>

      <ul>
      <% @rutas_survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <% if usuario_signed_in? %>
    <%= f.hidden_field "usuario_id", :value => current_usuario.id %>
  <% end %>
  <div class="form-group">
    <label class="col-xs-3">Primera opción</label>
  <%= f.collection_select :ruta1, Route.all.order(:ruta), :id, :ruta, :include_blank => true  %>
  <span class="help-block">Campo requerido</span>
</div>
<div class="form-group">
    <label class="col-xs-3">Segunda opción</label>
  <%= f.collection_select :ruta2, Route.all.order(:ruta), :id, :ruta, :include_blank => true  %>
  <span class="help-block">Opcional. Recomendado</span>
</div>
<div class="form-group">
    <label class="col-xs-3">Tercera Opción</label>
  <%= f.collection_select :ruta3, Route.all.order(:ruta), :id, :ruta, :include_blank => true  %>
  <span class="help-block">Opcional. Recomendado</span>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
