<%= simple_form_for(@enfermedade) do |f| %>
  <% if @enfermedade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enfermedade.errors.count, "error") %> prohibited this enfermedade from being saved:</h2>

      <ul>
      <% @enfermedade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Favor llene los datos según corresponda</h2>
  ¿Padece o ha padecido de alguna de estas enfermedades?
  <% if usuario_signed_in? %>
    <%= f.hidden_field "usuario_id", :value => current_usuario.id %>
  <% end %>
<div class="field">
  Diabetes
  <%= f.input :diabetes, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Cáncer
  <%= f.input :cancer, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Cardiopatías
  <%= f.input :cardiopatias, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Hemofilia
  <%= f.input :hemofilia, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Asma
  <%= f.input :asma, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Amigdalitis
  <%= f.input :amigdalitis, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Hipotensión (tensión baja)
  <%= f.input :hipotension, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Hipertensión (tensión alta)
  <%= f.input :hipertension, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Epilepsia
  <%= f.input :epilepsia, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Sinusitis
  <%= f.input :sinusitis, as: :boolean, checked_value: true, unchecked_value: false %>
</div>
<div class="field">
  Si no aparece en la lista, favor detallarla en este campo
  <%= f.text_field :otras %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
