<% if usuario_signed_in? %>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_enfermedade_path(@enfermedade) %> |
<%= link_to 'Back', root_path %>
<% else %>
  <%= render file: "inicio/prohibido" %>
  <p><%= link_to "Menú Principal", root_path %></p>
<% end %>