<h1>Moot Nacional 2014</h1>
	<% if usuario_signed_in? %>
<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
		<li ><%= link_to 'Registra tus datos', new_datos_registro_path, :class => "btn btn-primary btn-xs" %></li>
		<li><%= link_to 'Imprime tu planilla de inscripción', fichas_medica_path(current_usuario.id, :format => "pdf"), :target => '_blank', :class => "btn btn-primary btn-xs" %></li>
		<li><%= link_to "Cerrar sesión", destroy_usuario_session_path, :method => :delete, :class => "btn btn-primary btn-xs" %></li>
		<li><%= link_to "Registra tu pago", new_pago_path, :class => "btn btn-primary btn-xs" %></li>
</ul>
	<% elsif  admin_signed_in? %>
<ul>
		<li><%= link_to 'Datos de inscritos', datos_usuarios_path, :class => "btn btn-primary btn-xs" %></li>
	<% else %>
		<li>Si no estás registrado: <%= link_to "¡Regístrate!", new_usuario_registration_path,  :class => "btn btn-primary btn-xs" %>, es muy sencillo.</li>
		<li>Si ya estás registrado: <%= link_to "Inicia sesión", new_usuario_session_path, :class => "btn btn-primary btn-xs" %> y llena tus datos.</li> 
	<% end %>
</ul>

