<h1>CAREPAS 2014</h1>
<ul>
	<% if usuario_signed_in? %>
		<li><%= link_to 'Registra tus datos', new_datos_registro_path %></li>
		<li><%= link_to 'Imprime tu planilla de inscripción', fichas_medica_path(current_usuario.id, :format => "pdf") %></li>
		<li><%= link_to "Cerrar sesión", destroy_usuario_session_path, :method => :delete %></li>
	<% else %>
		<li>Si no estás registrado: <%= link_to "¡Regístrate!", new_usuario_registration_path %>, es muy sencillo.</li>
		<li>Si ya estás registrado: <%= link_to "Inicia sesión", new_usuario_session_path %> y llena tus datos.</li> 
	<% end %>
</ul>


