<%= simple_form_for(@datos_usuario) do |f| %>
  <% if @datos_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datos_usuario.errors.count, "error") %> prohibited this datos_usuario from being saved:</h2>

      <ul>
      <% @datos_usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if usuario_signed_in? %>
ID del usuario
    <%= f.input :usuario_id, :as => :hidden, :value => "current_usuario.id" %>
    <%= current_usuario.id %>
    <% end -%>
  </div>
  <div class="field">
    Teléfono principal
    <%= f.text_field :tel1 %>
  </div>
  <div class="field">
    Teléfono secundario
    <%= f.text_field :tel2 %>
  </div>
  <div class="field">
    <% if usuario_signed_in? %>
    Correo electrónico
        <%= current_usuario.email %>
        <% end -%>
  </div>
  <div class="field">
    Dirección principal
    <%= f.text_field :direccion1 %>
  </div>
  <div class="field">
    Dirección secundaria
    <%= f.text_field :direccion2 %>
  </div>
  <div class="field">
    Nombre del contacto principal
    <%= f.text_field :contacto1 %>
  </div>
  <div class="field">
    Nombre del contacto secundario
    <%= f.text_field :contacto2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
