
	<h1>Editar datos de contacto</h1>

<% if usuario_signed_in? %>
	<% if @datos_usuario.id == current_usuario.id %>
		<%= render 'form' %>
		<%= link_to 'Show', @datos_usuarios %> |
		<%= link_to 'Back', datos_usuarios_path %>
	<% end %>
<% else %>
  <%= render file: "inicio/prohibido" %>
	  <p><%= link_to "Menú Principal", root_path %></p>
<% end %>
