<%= simple_form_for(@alergy) do |f| %>
<% if @alergy.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@alergy.errors.count, "error") %> prohibited this alergy from being saved:</h2>

  <ul>
    <% @alergy.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if usuario_signed_in? %>
  <%= f.hidden_field "usuario_id", :value => current_usuario.id %>
<% end %>

<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
<%= f.input :alimentos, as: :boolean, checked_value: true, unchecked_value: false %>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <label for="detalle_alimento" class="col-lg-2 control-label">Tipos de Alimentos</label>
<%= f.text_field :detalle_alimento %>
        
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
<%= f.input :picaduras, as: :boolean, checked_value: true, unchecked_value: false %>
            
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
<%= f.text_field :detalle_picaduras %>
        <span class="help-block">Ej.: Avispas, Abejas</span>
        </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
<%= f.input :medicinas, as: :boolean, checked_value: true, unchecked_value: false %>
            
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <label for="detalle_medicinas" class="col-lg-2 control-label">Tipos de Medicinas</label>
   <%= f.text_field :detalle_medicinas %>
<span class="help-block">Ej.: Acetaminofén, Aspirina</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        Otras
<%= f.text_field :otras %>
        <span class="help-block">Cualquier otra cosa a la que le tengas alergia</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<% end %>
