
	<h1>Modifica tus padecimientos</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @padecimiento %> |
	<%= link_to 'Back', padecimientos_path %>
<% if usuario_signed_in? %>
	<% if @padecimiento.usuario_id == current_usuario.id %>
		<%= render 'form' %>
	<% end %>
<% else %>
  <%= render file: "inicio/prohibido" %>
	  <p><%= link_to "Menú Principal", root_path %></p>
<% end %>
