<% if current_usuario.admin? %>
<h1>Listing padecimientos</h1>

<table class="table table-striped table-hover ">

  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @padecimientos.each do |padecimiento| %>
      <tr>
        <td><%= link_to 'Show', padecimiento %></td>
        <td><%= link_to 'Edit', edit_padecimiento_path(padecimiento) %></td>
        <td><%= link_to 'Destroy', padecimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Padecimiento', new_padecimiento_path %>
<% else %>
  <%= render file: "inicio/prohibido" %>
  <p><%= link_to "Menú Principal", root_path %></p>
<% end %>

