<% if usuario_signed_in? or admin_signed_in? %>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_padecimiento_path(@padecimiento) %> |
<%= link_to 'Back', padecimientos_path %>
<% else %>
  <%= render file: "inicio/prohibido" %>
  <p><%= link_to "Menú Principal", root_path %></p>
<% end %>