<%= simple_form_for(@datos_registro) do |f| %>
  <% if @datos_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datos_registro.errors.count, "error") %> prohibited this datos_registro from being saved:</h2>

      <ul>
      <% @datos_registro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if usuario_signed_in? %>
    <%= f.hidden_field "usuario_id", :value => current_usuario.id %>
  <% end %>

<div class="field">
  Nombre completo
  <%= f.text_field :nombre %>
  </div>
  <div class="field">
    Cédula de Identidad
  <%= f.text_field :ci -%>
No coloques puntos ni letras
    </div>
  <div class="field">
    Número de Credencial
<%= f.text_field :credencial %>
No coloques puntos ni letras
</div>
<div class="field">
  Fecha de Nacimiento
  <%= f.text_field :fechaNac %>
  En formato DD/MM/AAAA. Ejemplo: 10/10/2000
</div>
  <div class="field">
    Nivel de la estructura
  <%= f.collection_select :nivel_id, Nivel.all, :id, :nivel %>
  </div>
  <div class="field">
    Region
  <%= f.collection_select :region_id, Region.all, :id, :region %>
  </div>
  <div class="field">
    Distrito
  <%= f.collection_select :distrito_id, Distrito.all, :id, :distrito %>
  </div>
  <div class="field">
    Grupo
  <%= f.collection_select :grupo_id, Grupo.all, :id, :grupo %>
  </div>
  <div class="field">
    Rama
  <%= f.collection_select :rama_id, Rama.all, :id, :rama %>
  </div>
  <div class="field">
    Unidad
  <%= f.collection_select :unidad_id, Unidad.all, :id, :unidad %>
  </div>
  <div class="field">
  <%= f.button :submit %>
</div>
<% end %>
