
	<h1>Editing datos_registro</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @datos_registro %> |
	<%= link_to 'Back', datos_registros_path %>
<% if usuario_signed_in? %>
	<% if @datos_registro.id == current_usuario.id %>
		<%= render 'form' %>
	<% end %>
<% else %>
  <%= render file: 'inicio/prohibido' %>
	  <p><%= link_to "Menú Principal", root_path %></p>
<% end %>
