<H1>DATOS DE REGISTRO DEL USUARIO</H1>
<% if usuario_signed_in? or admin_signed_in? %>
<% @datos_registro = DatosRegistro.find(params[:id]) %>
<table class="table">
  <% for datos_registro in @datos_registro.attributes.keys.drop(2) %>
    <tr>
      <td>
        <div class="col-xs-2"> <%= datos_registro.humanize %></div> 
        <div class="col-xs-4"><%= @datos_registro.attributes[datos_registro].to_s %></div>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Edita tus datos', edit_datos_registro_path(@datos_registro) %> |
<%= link_to 'Volver al inicio', root_path %>
<% else %>
  <%= render file: "inicio/prohibido" %>
  <p><%= link_to "Menú Principal", root_path %></p>
<% end %>

