<% if usuario_signed_in? or admin_signed_in? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @datos_registro.nombre %>
</p>

<p>
  <strong>Cédula de Identidad:</strong>
  <%= @datos_registro.ci %>
</p>

<p>
  <strong>Credencial:</strong>
  <%= @datos_registro.credencial %>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @datos_registro.fechaNac %>
</p>


<p>
  <strong>Región:</strong>
  <%= @datos_registro.region.region %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @datos_registro.distrito.distrito %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @datos_registro.grupo.grupo %>
</p>


<%= link_to 'Edit', edit_datos_registro_path(@datos_registro) %> |
<%= link_to 'Back', datos_registros_path %>
<% else %>
  <%= render file: "inicio/prohibido" %>
  <p><%= link_to "Menú Principal", root_path %></p>
<% end %>