<!DOCTYPE html>
<html>
<head>
  <title>MOOT NACIONAL 2014</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="alert alert-dismissable alert-info">
		<div class="list-group">
			<p class="list-group-item-text"><%= link_to "Menú principal", root_path %></p>
		<% if usuario_signed_in? %>  
			Autenticado como <%= current_usuario.email %>. ¿No eres tú?
    		<%= link_to "Salir", destroy_usuario_session_path, :method => :delete %>  
  		<% else %>  
	  		<ul>
	  			<li>
				    Si eres receptor, <%= link_to "Regístrate", new_usuario_registration_path %> or  
				    <%= link_to "Entra", new_usuario_session_path %>  
				</li>
				<li>
					Si eres dirigente, inicia sesión <%= link_to "Aquí", new_admin_session_path %>
				</li>
			</ul>
 		<% end %>  
 	</div>
	</div>
<%= yield %>

</body>
</html>
