<!DOCTYPE html>
<html>
<head>
  <title>Moot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="user_nav">  
	  <% if usuario_signed_in? %>  
	    Autenticado como <%= current_usuario.email %>. ¿No eres tú?  
	    <!-- <%= link_to "Salir", destroy_usuario_session_path, :method => :delete %>  !-->
	  	<%= link_to "Salir", destroy_usuario_session_path, :method => :delete %>  
	  <% else %>  
	    <%= link_to "Registrarse", new_usuario_registration_path %> or  
	    <%= link_to "Entrar", new_usuario_session_path %>  
	  <% end %>  
	</div> 
<%= yield %>

</body>
</html>
