<!DOCTYPE html>
<html>
<head>
  <title>MOOT NACIONAL 2014</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>

</head>
<div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="<%= asset_path('logo.png') %>"></img></a>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% if usuario_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-primary btn-default navbar-text" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span> Principal <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <%= link_to 'Home', root_path %></li>
            <li> <%= link_to 'Llena tu ficha médica', new_fichas_medica_path %></li>
            <li> <%= link_to 'Imprime tu planilla de inscripción', fichas_medica_path(current_usuario.id, :format => "pdf"), :target => '_blank' %></li>
            <li><%= link_to 'Estado de cuenta', "pagos/#{current_usuario.id}" %></li>
          </ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-primary btn-default navbar-text" data-toggle="dropdown"><span class="glyphicon glyphicon-file"></span> Carga de Datos <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header"><span class="glyphicon glyphicon-user"></span> Datos personales de jóvenes</li>
              <li><%= link_to 'Datos de Registro', new_datos_registro_path %></li>
              <li><%= link_to 'Datos de Contacto', new_datos_usuario_path %></li>
              <li class="divider"></li>
              <li class="dropdown-header"><span class="glyphicon glyphicon-leaf"></span> Rutas</li>
              <li> <%= link_to 'Selecciona tus rutas', new_rutas_survey_path %></li>
              <li class="divider"></li>

              <li class="dropdown-header"><span class="glyphicon glyphicon-usd"></span> Pagos</li>
              <li><%= link_to 'Registra tu pago', new_pago_path %></li>
              <li class="divider"></li>
              <li class="dropdown-header"><span class="glyphicon glyphicon-plus"></span> Ficha Médica</li>
              <li><%= link_to 'Alergias', new_alergy_path %></li>
              <li><%= link_to 'Enfermedades', new_enfermedade_path %></li>
              <li><%= link_to 'Condiciones Pre-Existentes', new_padecimiento_path %></li>
              <li><%= link_to 'Vacunas', new_vacuna_path %></li>
              <li class="divider"></li>
              <li class="dropdown-header"><span class="glyphicon glyphicon-user"></span> Datos personales de adultos</li>
              <li><%= link_to 'Datos de Registro', "registro_adultos" %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-primary btn-default navbar-text" data-toggle="dropdown"><span class="glyphicon glyphicon-pencil"></span> Edición de Datos <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header"><span class="glyphicon glyphicon-user"></span> Datos personales</li>
              <li><%= link_to 'Datos de Registro', edit_datos_registro_path(current_usuario.id) %></li>
              <li><%= link_to 'Datos de Contacto', edit_datos_usuario_path(current_usuario.id)  %></li>
              <li class="divider"></li>
              <li class="dropdown-header"><span class="glyphicon glyphicon-plus"></span> Ficha Médica</li>
              <li><%= link_to 'Alergias', edit_alergy_path(current_usuario.id) %></li>
              <li><%= link_to 'Enfermedades', edit_enfermedade_path(current_usuario.id) %></li>
              <li><%= link_to 'Condiciones Pre-Existentes', edit_padecimiento_path(current_usuario.id) %></li>
              <li><%= link_to 'Vacunas', edit_vacuna_path(current_usuario.id) %></li>
              <li class="divider"></li>
              <li class="dropdown-header"><span class="glyphicon glyphicon-leaf"></span> Rutas</li>
              <li><%= link_to 'Selección de rutas', edit_rutas_survey_path(current_usuario.id) %></li>
            </ul>
          </li>

          <% if current_usuario.admin? %>
                    <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-primary btn-default navbar-text" data-toggle="dropdown"><span class="glyphicon glyphicon-eye-open"></span> Reportes<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header"><span class="glyphicon glyphicon-eye-open"></span> Posiciones</li>
                <li><%= link_to 'Posición Consolidada', "/inicio/consolidado" %></li>
              <li class="divider"></li>
              <li class="dropdown-header"><span class="glyphicon glyphicon-user"></span> Datos personales</li>
                <li><%= link_to 'Datos de Registro', datos_registros_path %></li>
                <li><%= link_to 'Datos de Contacto', datos_usuarios_path  %></li>
              <li class="divider"></li>
              <li class="dropdown-header"><span class="glyphicon glyphicon-usd"></span> Pagos</li>
                <li><%= link_to 'Pagos', pagos_path %></li>
                <li><%= link_to 'Participantes con recargos', "/pagos/penalidades" %></li>
              <li class="divider"></li>
              <li class="dropdown-header"><span class="glyphicon glyphicon-leaf"></span> Rutas</li>
                <li><%= link_to 'Selección de rutas', rutas_surveys_path %></li>
            </ul>
          </li>
          <% end %>


          <% end %>
        </li></ul></div>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if usuario_signed_in? %>  
        <% if current_usuario.admin? %>
        modo admin
        <% end %>
        <%= link_to "Salir", destroy_usuario_session_path, :method => :delete, :class => "btn btn-primary btn-default " %>  
        <% else %>  

        Rover o Adulto, <%= link_to "Entra", new_usuario_session_path, :class => "btn btn-primary btn-sm" %>  

        <% end %>
      </ul>
    </li>
  </ul>

</div>
</div>
<%= yield %>
</body>
</html>
